html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 2560px;
    margin: auto;
    scroll-behavior: smooth;
}

.pointer {
    cursor: pointer;
}

p {
    line-height: 2em;
}

.container-statues {
    height: 400px;
    min-width: 198px;
}

.statues {
    height: 120px;
    width: 120px;
}

.fa {
    font-size: 7em;
}

.statue-info:hover {
    box-shadow: 0px 0px 8px #17a2b8;
}

.statue-warning:hover {
    box-shadow: 0px 0px 8px #ffc107;
}

.statue-success:hover {
    box-shadow: 0px 0px 8px #28a745;
}

.opacite {
    animation-name: opacite;
    animation-duration: 1.9s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes opacite {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}